.background-image {
    background-image: url('./static/img/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
}

.MuiTypography-h6 {
    white-space: nowrap;
    color: white;
}

.MuiTypography-body1 {
    white-space: nowrap;
}